@import "tailwindcss";

/* Variables de marca (pueden usarse como colores tailwind a futuro) */
:root {
  --color-primary: #e97132;
  --color-dark: #4A4A4A;
  --color-medium: #7A7A7A;
  --color-soft: #F4F4F4;
  --color-blueProfessional: #1E3A5F;
  --color-dark: #1e1e1e;
  --color-dark-light: #2b2b2b;
  --font-rounded: "ArialRounded", sans-serif;
  --color-bg-section: #d3d3d3;
}

@font-face {
  font-family: "ArialRounded";
      src:  url("/fonts/ArialRounded/ArialRoundedMTBold.woff2") format("woff2"),
            url("/fonts/ArialRounded/ArialRoundedMTBold.woff") format("woff"),
            url("/fonts/ArialRounded/arialroundedmtbold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Base global */
body {
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
  color: var(--color-dark);
}

/* Fade-in page load */
body {
  opacity: 0;
  transition: opacity 0.7s ease;
}
body.loaded {
  opacity: 1;
}
.font-rounded {
  font-family: var(--font-rounded);
}
.icon-instagram::before{
  content:'';
  width: 30px;
  height: 30px;
  mask-image: url("/social/instagram.svg");
  background-color: black;
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.icon-linkedin::before{
  content:'';
  width: 30px;
  height: 30px;
  mask-image: url("/social/linkedin.svg");
  background-color: black;
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.icon-whatsapp::before{
  content:'';
  width: 30px;
  height: 30px;
  mask-image: url("/social/whatsapp.svg");
  background-color: white;
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

#empresa { position:absolute; left:-9999px; opacity:0; }

.toast-msg {
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    animation: fadeIn 0.3s ease, fadeOut 0.3s ease 3s forwards;
  }
  .toast-success {
    background: #F5A623;
  }
  .toast-error {
    background: #d9534f;
  }
  @keyframes fadeIn { 
    from { opacity:0; transform:translateY(-10px); } 
    to { opacity:1; transform:translateY(0); } 
  }
  @keyframes fadeOut { 
    to { opacity:0; transform:translateY(-10px); } 
  }