@import "tailwindcss";

/* Variables de marca (pueden usarse como colores tailwind a futuro) */
:root {
  --color-primary: #F5A623;
  --color-dark: #4A4A4A;
  --color-medium: #7A7A7A;
  --color-soft: #F4F4F4;
  --color-blueProfessional: #1E3A5F;
  --color-dark: #1e1e1e;
  --color-dark-light: #2b2b2b;
  --font-rounded: "ArialRounded", sans-serif;
}

@font-face {
  font-family: "ArialRounded";
      src:  url("/fonts/ArialRounded/arialroundedMTbold.woff2") format("woff2"),
            url("/fonts/ArialRounded/arialroundedMTbold.woff") format("woff"),
            url("/fonts/ArialRounded/arialroundedmtbold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Base global */
body {
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
  color: var(--color-dark);
}

/* Fade-in page load */
body {
  opacity: 0;
  transition: opacity 0.7s ease;
}
body.loaded {
  opacity: 1;
}
.font-rounded {
  font-family: var(--font-rounded);
}
