<section class="relative  text-white overflow-hidden">
  <div
    class="container mx-auto w-100%
           items-center gap-10  flex justify-between max-w-[100%] lg:max-w-[96rem]"
  >
    <!-- TEXTO -->
    <div class="z-10 bg-[var(--color-blueProfessional)] px-10 py-24 w-[100%] xl:w-[70%]">
      <h1 class="text-4xl md:text-6xl font-bold mb-6 max-w-xl">
        Ideas que impulsan el desarrollo de tu organización
      </h1>

      <p class="text-lg md:text-xl mb-8 max-w-lg text-soft">
        Potenciamos el talento y la innovación para transformar desafíos en oportunidades.
      </p>

      <a
        href="/contacto"
        class="inline-block bg-[var(--color-primary)] text-white font-semibold
               py-3 px-8 rounded-lg hover:opacity-90 transition"
      >
        Contáctanos
      </a>
    </div>
    <div class="bg-[url(/section/portada.png)] bg-cover w-[50%] hidden h-[-webkit-fill-available] sm:hidden lg:block xl:w-[30%]">

    </div>

  </div>
  
</section>
